<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img class="imagem-bem" style="cursor: pointer;" (click)="abrirImagem()" [src]="bem?.imagem"
                alt="Abrir imagem">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <p class="cadastradoPor">Cadastrado por: {{bem.nomeUsuario}}</p>
        </div>
    </div>

    <hr>
    <form [formGroup]="formProduto" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="patrimonio">Patrimônio</label>
                    <input type="number" class="form-control" id="patrimonio" formControlName="patrimonio">
                </div>
            </div>
            <div class="col align-self-center check-sem-pat">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="semEtiqueta"
                        formControlName="semEtiqueta">
                    <label class="form-check-label" for="semEtiqueta">
                        Sem Etiqueta
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" formControlName="descricao">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="numeroSerie">Número de série</label>
                    <input type="text" class="form-control" id="numeroSerie" formControlName="numeroSerie">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <div class="form-group">
                    <label for="estadoBem">Estado do bem</label>
                    <select class="form-control" id="estadoBem" formControlName="estadoBem">
                        <option value="uso">Em uso</option>
                        <option value="ocioso">Ocioso</option>
                        <option value="danificado">Danificado</option>
                    </select>
                </div>
            </div>
            <div class="col align-self-center check-sem-pat">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="bemParticular"
                        formControlName="bemParticular">
                    <label class="form-check-label" for="bemParticular">
                        Bem particular
                    </label>
                </div>

            </div>

            <div class="col align-self-center check-sem-pat">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="indicaDesfazimento"
                        formControlName="indicaDesfazimento">
                    <label class="form-check-label" for="indicaDesfazimento">
                        Indica para desfazimento
                    </label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="observacoes">Observações</label>
                    <textarea class="form-control" id="observacoes" formControlName="observacoes" rows="3"></textarea>
                </div>
            </div>
        </div>
        <button type="button" [disabled]="salvando" class="btn btn-warning col-5"
            (click)="voltar()">{{salvando? 'Salvando dados...': 'Voltar'}}</button>
        <button type="submit" [disabled]="salvando"
            class="btn btn-primary col-5 offset-2">{{salvando? 'Salvando dados...': 'Salvar Dados'}}</button>

    </form>
</div>