.imagem-bem{
    max-height: 50vh;
    max-width: 80vw;
}

.check-sem-pat{
    margin-top: 15px;
}

.container-fluid{
    padding-bottom: 40px;
}

.cadastradoPor{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0;
}