<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{localidades?localidades.length: 'Carregando...'}}</h3>
                    <p>Localidades cadastradas</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a (click)="irParaLocalidades()" style="cursor: pointer;" class="small-box-footer">Detalhes <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <!--         <div class="col-lg-3 col-6">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{bens?bens.length: 'Carregando...'}}</h3>

                    <p>Bens cadastrados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a (click)="irParaLocalidades()" class="small-box-footer">Detalhes <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div> -->
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{localidades?localidadesVisitadas: 'Carregando...'}}<sup style="font-size: 20px">%</sup></h3>

                    <p>Localidades visitadas</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a (click)="irParaLocalidades()" style="cursor: pointer;" class="small-box-footer">Detalhes <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{localidades?localidadesFinalizadas: 'Carregando...'}}<sup style="font-size: 20px">%</sup></h3>

                    <p>Localidades Finalizadas</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a (click)="irParaLocalidades()" style="cursor: pointer;" class="small-box-footer">Detalhes <i
                        class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>{{correcoes?correcoes.length: 'Carregando...'}}</h3>

                    <p>Ajustes a serem feitos</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a class="small-box-footer">Detalhes <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row" *ngIf="bens">
        <hr>
        <div class="card col-12">
            <div class="card-header">
                <h3 class="card-title">Bens Cadastrados: {{bens.length}}/{{totalBensSIPAC?totalBensSIPAC:''}}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Situação</th>
                            <th>Progresso</th>
                            <th style="width: 40px">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bens concluídos</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-primary" [style.width]="totalBensConcluido">
                                    </div>
                                </div>
                            </td>
                            <td><span class="badge bg-primary">{{totalBensConcluido}}</span></td>
                        </tr>
                        <tr>
                            <td>Sem etiqueta</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-danger" [style.width]="semEtiqueta"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-danger">{{semEtiqueta}}</span></td>
                        </tr>
                        <tr>
                            <td>Em uso</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" [style.width]="emUso"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-warning">{{emUso}}</span></td>
                        </tr>
                        <tr>
                            <td>Ociosos</td>
                            <td>
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-primary" [style.width]="ocioso"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-primary">{{ocioso}}</span></td>
                        </tr>
                        <tr>
                            <td>Danificados</td>
                            <td>
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-success" [style.width]="danificado"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-success">{{danificado}}</span></td>
                        </tr>
                        <tr>
                            <td>Indicados para desfazimento</td>
                            <td>
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-success" [style.width]="desfazimento"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-success">{{desfazimento}}</span></td>
                        </tr>
                        <tr>
                            <td>Particulares</td>
                            <td>
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-success" [style.width]="particular"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-success">{{particular}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>